- semantic_form_for resource_name, resource, :url => session_path(resource_name) do |f|
  - f.inputs do
    = f.input :username
    = f.input :password
    - if devise_mapping.rememberable?
      = f.input :remember_me, :as => :boolean 
  - f.buttons do
    = f.commit_button t('buttons.sign_in')
  = render :partial => "shared/devise_links"
