.product_detail_right
  .product_img_wrapper
    = image_tag @product.photo.url(:big)
.product_edit_left
  - semantic_form_for @product, :html => { :multipart => true, :class => 'validate' } do |f|
    = hidden_field_tag :page, params[:page]
    - f.inputs do
      = f.input :name
      = f.input :description
      = f.input :amount#, :input_html => {:value => number_with_precision(@product.amount)}
      = f.input :sold
      = f.input :photo
    - f.buttons do
      = f.commit_button t('buttons.submit'), :button_html => {:class => 'commit'}
      %li
        = cancel_link t('buttons.cancel'), products_path(:page => params[:page])
.cleaner
