.product_detail_right
  .product_img_wrapper
    = text_field :test, 'xxx'
    = image_tag @product.photo.url(:big)
.product_edit_left
  - semantic_form_for @product, :html => { :multipart => true } do |f|
    = hidden_field_tag :page, params[:page]
    - f.inputs do
      = f.input :name
      = f.input :description
      = f.input :amount, :input_html => {:value => number_with_precision(@product.amount)}
      = f.input :sold
      = f.input :photo
    %fieldset.buttons
      = submit_tag
      = cancel_link t('buttons.cancel'), products_path(:page => params[:page])
.cleaner
