- title(h @product.name)

.product_detail_right
  .product_img_wrapper
    = image_tag @product.photo.url(:big)
.product_detail_left
  %h3= t('activerecord.attributes.product.description')
  %p= h @product.description
  .cleaner_h20
  %h3= t('activerecord.attributes.product.amount')
  %ul.service_applied
    %li= h @product.cents
  .cleaner_h20
  .buttons
    = link_to t('buttons.back'), products_path(:page => params[:page])
    = link_to t('buttons.edit'), edit_product_path(@product, :page => params[:page])
.cleaner
