!!!
%html{html_attrs}
  %head
    %title= [APP_CONFIG['app_title'], h(yield(:title))].join(" - ")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

    = stylesheet_link_tag 'formtastic', :media => 'screen, projection'
    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'
    /[if lt IE 7]
      = stylesheet_link_tag 'ie6', :media => 'screen, projection'

    = google_jquery
    = javascript_include_tag 'jquery.application', :cache => true
    = javascript_include_tag 'XMLHttpRequest' ,'v2.standalone.full.min', 'v2.config', 'v2.rails'
    = javascript_for_validatious
    
    = yield(:head)
  %body
    #templatemo_site_title_bar_wrapper
      #templatemo_site_title_bar
        #site_title
          %h1= link_to image_tag("logo.png"), root_path

        = yield(:menu) || render_or_default('menu')
        / end of menu
      / end of templatemo_site_title_bar
    / end of templatemo_site_title_bar_wrapper
    #templatemo_banner_wrapper
      #templatemo_banner
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          %span Pellentesque luctus eros
          quis elit molestie ut consequat metus lacinia. Sed condimentum convallis massa, id
          %span consectetur lacus facilisis quis.
      / end of templatemo_banner
    / end of templatemo_banner_wrapper
    #templatemo_content
      = flashes
      
      .title
        - if user_signed_in?
          .buttons
            = link_to "Nieuw", new_product_path(:page => params[:page])
        %h2= yield(:title)
      
      = yield
    / end of templatemo_content
    #templatemo_content_bottom
    / = yield(:footer) || render_or_default('footer')